* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: Comfortaa, sans-serif;
}
@font-face {
  font-family: Comfortaa;
  src: url(fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}
@font-face {
  font-family: Pacifico;
  src: url(fonts/Pacifico/Pacifico-Regular.ttf);
}
a {
  cursor: pointer;
}

/* .home {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
} */

#landingPageContainer {
  background: url(./images/bg__.webp);
  background-position: 50%;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menuContainer {
  display: flex;
  justify-content: space-between;
  /* color: white; */
  background-color: white;
  /* margin: 1rem 100px auto 100px; */
  border-radius: 3rem;
  align-items: center;
  width: 90%;
  /* height: auto; */
  margin: 0.5rem 1rem 1rem 1rem;
  padding: 1rem;
  position: fixed;
}

#companyLogo,
.menuButton,
#readytoinvest {
  /* margin: 1rem; */
}

#companyLogo {
  /* margin: 1rem; */
}

#menuMiddle {
  /* margin: 1rem; */
  display: flex;
  gap: 1rem;
}

.menuButton {
  /* border: 0px;  */
  /* background-color: white; */
  /* color: black; */
  /* margin: 0.1rem; */
  /* border: .1rem solid black; */
}

.menuButton:hover {
  color: #8a0b0b;
  text-decoration: underline;
  transition: color 100ms ease-in-out, text-decoration 300ms ease-in-out;
  transform-origin: left;
}

.menuButton:hover::after {
  /* color: #8a0b0b; */
  /* text-decoration: underline; */
  /* transition: color 100ms ease-in-out, text-decoration 300ms ease-in-out; */
  /* transform-origin: left;
  transform: scaleX(1); */
}

.logInvest {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#investButton {
  border: none;
  background-color: #8a0b0b;
  /* margin: 0.9rem; */
  padding: 1rem;
  border-radius: 1rem;
  color: white;
}
#menu {
  cursor: pointer;
  display: none;
}

#investButton:hover {
  background-color: #320303;
}

#welcomeContainer {
  /* margin: 40vh auto auto auto; */
  /* border: .1rem solid black; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: white;
}

#welcome {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  /* justify-content: ; */
  align-items: center;
}

#imtiredofnamingstuff {
  display: flex;
  gap: 1rem;
  align-items: center;
  /* flex-direction: row; */
  /* margin: 2rem; */
  /* padding: auto; */
}

#welcomeMessage {
  /* margin-top: 50%; */
  /* margin: auto 2rem; */
}

#welcomeMessage2 {
  /* font-size: 1rem; */
  /* margin: 2rem */
  /* margin: auto 2rem; */
}

#investButtons {
  border: none;
  background-color: #8a0b0b;
  /* margin: 0.9rem; */
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#investButtons:hover {
  background-color: #320303;
}

/* #welcomeMessage, #welcomeMessage2, #learnmore, #readytoinvest{
  color: white;
  text-align: center;
} */

#learnmore {
  /* margin: auto; */
}

#learnmore:hover {
  text-decoration: underline;
}

#learnmore,
#readytoinvest {
  cursor: pointer;
}

#readytoinvest {
  /* background-color: #8a0b0b;
  padding: 1rem;
  border-radius: 1rem; , */
}

@media (max-width: 1024px) {
  #menuContainer {
    padding: 0.5rem;
  }

  #welcomeContainer {
    height: 100%;
    margin-top: 2rem;
  }
}

@media (max-width: 945px) {
  #welcomeMessage {
    font-size: 1.6rem;
  }
}

@media (max-width: 765px) {
  #menuContainer {
    padding: 0.8rem;
  }

  #welcomeMessage {
    font-size: 1.3rem;
  }

  #welcomeMessage2 {
    font-size: 0.8rem;
  }

  #menu {
    display: block;
    font-size: 2rem;
  }

  #menuMiddle,
  .logInvest {
    flex-direction: column;
    text-align: center;
    background: white;
    width: 100%;
    top: 60px;
    left: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 0;
  }

  .menuBox {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 50%;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
  }

  .hidden {
    display: none !important;
  }

  #investButtons {
    padding: 0.6rem;
  }
}

@media (max-width: 580px) {
  #welcomeMessage {
    font-size: 1.1rem;
  }

  #welcomeMessage2 {
    font-size: 0.6rem;
  }

  #companyLogo {
    width: 10%;
  }
}

@media (max-width: 480px) {
  #welcomeMessage {
    font-size: 0.9rem;
  }

  #welcomeMessage2 {
    font-size: 0.5rem;
  }

  #investButtons {
    padding: 0.6rem;
    font-size: 0.7rem;
  }

  #learnmore {
    font-size: 0.7rem;
  }
}

@media (max-width: 393px) {
  #welcomeMessage {
    font-size: 0.7rem;
  }

  #welcomeMessage2 {
    font-size: 0.4rem;
  }
}

/* @media (max-width: 2560px) {
  #welcome{
    padding-bottom: 1rem;
    gap: 1rem;
  }
  #welcomeMessage{
    font-size: 5rem;
  }
  #welcomeMessage2{
    font-size: 2.5rem;
  }
  #investButton{
    font-size: 2rem;
  }
  #companyLogo{
    width: 8rem;
    height: auto;
  }
  #menuMiddle{
    gap: 2rem;
  }
  #logInvest{
    gap: 2rem;
  }
  .menuButton{
    font-size: 3rem;
    text-decoration: none;
    font-style: normal;
  }
  #investButtons, #learnmore{
    font-size: 3rem;
    text-align: center;
    justify-content: center;
  }
  #material-symbols-outlined{
    min-height: auto;
    min-width: 2rem;
  }
}  */

/* @media (min-width: 320px) {
  .welcomes{
    font-size: 0.5rem;
  }
  #investButtons, #learnmore{
    font-size: 0.4rem;
    padding: 0.5rem;
  }
  #companyLogo{
    width: 2rem;
    height: auto;
  }
  .menuButton{
    font-size: 0.5rem;
  }
  #menuMiddle{
    gap: 0.5rem;
  }
  /* #logInvest{
    
  } 
  #loginButton{
    transform: translateX(0.9rem);
  }
  #investButton{
    font-size: 0.4rem;
    padding: 0.4rem;
  }
  .smthn{
    transform: translateX();
  }
} */

/* @media (min-width: 768px) {
  .welcomes{
    transform: translateY(1rem);
    font-size: 1.2rem;
    text-align: center;
  }
  #welcomeMessage{
    text-align: center;
  }
  #investButtons, #learnmore{
    text-align: center;
    padding: 1rem;
  }
  #learnmore{
    transform: translateY(1rem);
  }
  #imtiredofnamingstuff{
    align-items: center;
    justify-items: center;
    margin-top: 1rem;
  }
} */
