* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }

#landingPageContainer{
    background: url(./images/bg__.webp) ;
}

.home {
  background: url("../../public/images/bg__.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }